* { color: #cacaca;}
body { padding: 30px;}
h1 a { color : #3ea1f7; text-decoration: none; font-family: 'Lobster';}
.page-header { padding: 20px; background: #3ea1f7;}
.page-header h1 { display: inline-block;}
.page-header h1 a { color: #fff;}
.post { margin: 20px;}
.date { text-align: right;}
.top-menu { margin-left: 20px; display: inline-block;}
.top-menu span { color: #fff;}
